<div class="header">
  <h2>State Machine</h2>
</div>

<app-drawingboard
  [nodes]="nodes"
  [links]="links"
  (resizableBoardEvent)="onRefreshBoard()"
></app-drawingboard>

<div class="header">
  <h2>Agenda</h2>
</div>

<div *ngIf="agendaStr; else emptyagenda" class="agenda-content">{{ agendaStr }}</div>
<ng-template #emptyagenda>...</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Training Data</h4>
    <button type="button" class="close" aria-lable="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">✖</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='trainingDataFormGroup' class="form-group">
      <div class="trigger-body">{{ triggerStr }}</div>
      <input placholder="Enter training data">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>

<div class="buttons">
  <button 
    class="save-button"
    (click)="onSubmit()">Download</button>
  <span><hr/></span>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Create Training Data
  </button>
</div>
