.buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 9px;
}

.agenda-content {
  font-size: 9px;
  white-space: pre-wrap;
}

.buttons button{
  display: inline-block;
  background: #e7e7e7; /* Gray */
  color: black;

  padding: 6px 12px;
  border: 2px solid transparent;
  border-radius: 12px;
  margin: 2px 5px;

  font-size: 12px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s, 0.8s;
  transition-property: background, box-shadow;
}

/* .save-button:hover {
  background-color: #bebebe;
  color: black;
} */

.buttons button:hover
{
  cursor: pointer;
  background: #1e90ff;
  box-shadow: 3px 5px 10px #87cefa;
}
