<div class="field form-control" *ngIf="showTransition">
  <p>FROM:</p>
  <select [(ngModel)]="transition.from" (change)="updateFromState(transition)">
    <option 
      *ngFor="let state of getNonTerminus()" 
      [ngValue]="state"
    >{{ state.name }}</option>
  </select>
  <p>TO:</p>
  <select *ngIf="!isKickOff(transition.from); else fromkickoff" [(ngModel)]="transition.to" (change)="updateToState(transition)">
    <option 
      *ngFor="let state of states | slice:1" 
      [ngValue]="state"
    >{{ state.name }}</option>
  </select>
  <ng-template #fromkickoff>
    <select [(ngModel)]="transition.to" (change)="updateToState(transition)">
      <option 
        *ngFor="let state of getStart()" 
        [ngValue]="state"
      >{{ state.name }}</option>
    </select>
  </ng-template>
  <input 
    name="trigger"   
    type="text" 
    [(ngModel)]="transition.trigger"
    (input)="updateTrigger(transition)"
    placeholder="Trigger"
    />
  <input 
    name="description"   
    type="text" 
    [(ngModel)]="transition.description"
    (input)="updateDescription(transition)"
    placeholder="Description"
    />
  <fa-icon
    [icon]="faTimesCircle"
    [styles]="{'color': 'red', 'font-size': '16px', 'margin-right': '5px'}"
    (click)="deleteTransition(transition)"
  ></fa-icon>
</div>
