p {
  padding: 1px 1px 1px 6px;
  font-size: 12px
}

.form-control select{
  width: 15%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control input[name="trigger"] {
  width: 15%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control input[name="description"] {
  width: 40%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}
