<div class="container">
  <div class="map-block">
    <h4 style="text-align: center; padding-bottom: 6px;">Action Map</h4>
    <div class="input-border">
      <div *ngFor="let actionMap of actionMaps">
        <p style="padding-bottom: 0%">{{ actionMap.state.name }}</p>
        <div id="'action-' + {{ actionMap.state.name }}" class="dropdown-check-list" #dropdownAction>
          <span class="anchor" 
            (click)="showActionList(dropdownAction.id)"
          >Select Actions</span>
          <ul class="items">
            <!-- <li>
              <input type="checkbox" />
              <label>
                Select All
              </label>
            </li> 
            <li>
              <input type="checkbox" />
              <label>
                Unselect All
              </label>
            </li> -->
            <li *ngFor="let action_ of actions">
              <input
                type="checkbox" 
                [ngModel]="checked(actionMap, action_)"
                (change)="updateActionMap($event, actionMap, action_)"
              />
              <label>
                {{ action_.name }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-block">
    <h4 style="text-align: center; padding-bottom: 6px;">Stall Action Map</h4>
    <div class="input-border">
      <div *ngFor="let stallMap of stallMaps">
        <p style="padding-bottom: 0%">{{ stallMap.state.name }}</p>
        <div id="'stall-' + {{ stallMap.state.name }}" class="dropdown-check-list" #dropdownStall>
          <span class="anchor" 
            (click)="showActionList(dropdownStall.id)"
          >Select Actions</span>
          <ul class="items">
            <li *ngFor="let action_ of actions">
              <input
                type="checkbox"
                [ngModel]="checked(stallMap, action_)"
                (change)="updateStallMap($event, stallMap, action_)"
              />
              <label>
                {{ action_.name }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="policy-block">
    <h4 style="text-align: center; padding-bottom: 6px;">Policy</h4>
    <div class="input-border">
      <div class="policy-input-form">
        <p>Maximum number of transitions</p>
        <input 
          name="max-transitions"
          type="number" 
          min="0"
          max="100"
          step="10"
          value="5"
          [(ngModel)]="policy.max_transitions"
          (input)="updatePolicy(policy)" 
          />
      </div>
      <div class="policy-input-form">
        <p>Absolute accepted threshold</p>
        <input 
          name="absolute-accept-thresh" 
          type="number" 
          min="0.0"
          max="1.0"
          step="0.1"
          value="0.6"
          [(ngModel)]="policy.absolute_accept_thresh"
          (input)="updatePolicy(policy)" 
          />
      </div>
      <div class="policy-input-form">
        <p>Minimum accepted threshold with differential</p>
        <input 
          name="min-accept-thresh-w-differential" 
          type="number" 
          min="0.0"
          max="1.0"
          step="0.1"
          value="0.2"
          [(ngModel)]="policy.min_accept_thresh_w_differential"
          (input)="updatePolicy(policy)" 
          />
      </div>
      <div class="policy-input-form">
        <p>Accepted threshold differential</p>
        <input 
          name="Accept-thresh-differential"
          type="number" 
          min="0.0"
          max="1.0"
          step="0.1"
          value="0.1"
          [(ngModel)]="policy.accept_thresh_differential"
          (input)="updatePolicy(policy)"
          />
      </div>
      <div class="policy-input-form">
        <p>Kickoff threshold</p>
        <input 
          name="kickoff-thresh"
          type="number" 
          min="0.0"
          max="1.0"
          step="0.1"
          value="1.0"
          [(ngModel)]="policy.kickoff_thresh"
          (input)="updatePolicy(policy)" 
          />
      </div>
      <div class="policy-input-form">
        <p>Reuse</p>
        <input 
          name="reuse"
          type="checkbox"
          style="vertical-align: middle;"
          [(ngModel)]="policy.reuse"
          (change)="updatePolicy(policy)" 
          />
      </div>
    </div>
  </div>
</div>
