.section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 6px;
}

.upload-button {
  background-color: #; /* Green */
  border: 2px solid green;
  border-radius: 12px;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #119e17;
  color: white;
}

.add-button {
  background-color: #4CAF50; /* Green */
  border: 2px solid green;
  border-radius: 12px;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-button:hover {
  background-color: #119e17;
  color: white;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 19px;
  margin-bottom: 6px;
}

.upload::-webkit-file-upload-button {
  color: black;
  display: inline-block;
  background: #eeeeee;
  border: 2px solid grey;
  padding: 7px 15px;
  border-radius: 12px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12px;
}

.generate-button {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid grey;
  border-radius: 12px;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #bebebe;
  color: black;
}
