<div class="header">
    <h2>Inputs</h2>
</div>

<div class="center-content">
  <label style="margin-right: 6px"> Upload a yaml file </label>
  <input 
    type="file" 
    class="upload" 
    accept=".yml,.yaml"
    (change)="onUploadYaml($event)" /> 
</div>

<div class="section">
  <h3>States</h3>
  <button class="add-button" (click)="onAddState()">Add</button>
</div>

<app-states
  *ngFor="let state of states"
  [state]="state"
  (updateStateEvent)="onUpdateState($event)"
  (deleteStateEvent)="onDeleteState($event)"
></app-states>

<div class="section">
  <h3>Transitions</h3>
  <button class="add-button" (click)="onAddTransition()">Add</button>
</div>

<app-transitions
  *ngFor="let transition of transitions"
  [states]="states"
  [transition] = "transition"
  (updateTransitionEvent)="onUpdateTransition($event)"
  (deleteTransitionEvent)="onDeleteTransition($event)"
></app-transitions>

<div class="center-content">
  <label style="margin-right: 6px"> Generate a yaml file </label>
  <button class="generate-button" (click)="onDrawGraph()">Generate</button>
</div>
