<div class="header">
  <h2>Inputs</h2>
</div>

<div class="section">
  <h3>States</h3>
  <button class="button" (click)="onAddState()">Add</button>
</div>

<app-inputfield 
  *ngFor="let state of states"
  [state]="state"
  (updateStateEvent)="onUpdateState($event)"
  (deleteStateEvent)="onDeleteState($event)"
></app-inputfield>

<div class="section">
  <h3>Transitions</h3>
  <button class="button" (click)="onAddTransition()">Add</button>
</div>

<app-dropdownfield
  *ngFor="let transition of transitions"
  [transition] = "transition"
  (updateTransitionEvent)="onUpdateTransition($event)"
  (deleteTransitionEvent)="onDeleteTransition($event)"
></app-dropdownfield>
