.section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 6px;
}

.add-button {
  background-color: #4CAF50; /* Green */
  border: 2px solid green;
  border-radius: 12px;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-button:hover {
  background-color: #119e17;
  color: white;
}

.submission {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
}

.summary-button {
  background-color: #e7e7e7; /* Gray */
  border: 2px solid grey;
  border-radius: 12px;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.summary-button:hover {
  background-color: #bebebe;
  color: black;
}
