label {
  font-size: 12px;
}

.form-control input[name="name"] {
  width: 15%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control input[name="utterance"] {
  width: 65%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control select{
  width: 10%;
  height: 24px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 12px;
}

.form-control .checkbox[name="flag"]{
  width: 10%;
  height: 24px;
  display: flex;
  align-items: center;
}

.form-control .checkbox label {
  margin-right: 5px;
}

