@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: "Poppins", sans-serif; 
}

.field {
  display: flex;
  align-items: baseline;
}

.form-control {
  margin: 10px 0;
}

.form-control input, .form-control select{
  width: 100%;
  height: 40px;
  margin: 6px;
  padding: 3px 7px;
  font-size: 16px;
}
